/* .carousel .carousel-item {
    max-height: 400px;
    width: auto;
} */
  
.carousel-item img {
    max-height: 530px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 935px){
    .carousel .carousel-item {
        max-height: 45vw;
    
    }

    .carousel-item img {
        max-height: 45vw;
        object-fit: cover;
    }
}