nav {
    background: linear-gradient(to right, #EA6A4E,#e49280); 
}

nav img {
    position: relative;
    width: 100px;
    right: 27px;
    bottom: 13px;
	height: auto;
	object-fit: cover;
}

nav img:hover{
    transform: scale(1.1);
}

nav div.row{
    height: 3.5rem;
}

nav div.row div.col{
    height: fit-content;
}

.container-logo-home {
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 767px){
    nav div.row{
        height: fit-content;
    }
}
