.distribution{
    border-top: 1px dashed darkblue;
}

.choose{
    border: 1px solid black;
}

/* #modal-order-button{
    position: fixed;
    top: 85px;
    right: 40px;
    
} */

#modal-order-button img{
    max-width: 30px;
}