
.size-image {
    width:100%;
    height:100%;
    object-fit: fill;
    max-height: 270px;
    background-color: white;
}

.card{
    width: 100%;
    background-color: #e2bc91 !important;
}

.card:hover{
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body > div p{
    font-size: larger;
}

/* .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description::after{
    content: ' Ver Más';
    white-space: normal;
}

.description:hover{
    white-space: normal;
    overflow: visible;
    cursor: pointer;
}

.description:hover::after{
    content: '';
} */

.counter{
    display: inline-block;
    width: 30px;
    font-size: large;
    font-weight: 800;
}

.total-per-product{
    font-size: large;
    font-weight: 800;
}

@media only screen and (max-width: 767px){
    .img-container {
        max-height: 300px;
    }
    
    .size-image {
        max-height: 300px;
    }
}

@media only screen and (max-width: 567px){

    .size-image{
        height: 50vw;
    }
}